<!DOCTYPE html>
<html>
<head>
<title>Enroll</title>
</head>

<body style = "background : url(https://www.uzu-media.com/sites/default/files/field/image/coloradospringswebdesigners.jpg) ; background-size: 100% ;">
<h1> <p style="color:white;"><I><B>Student Information</B></I></p> </h1>
<br>
<br>
<form action = "/savedetails" method = "post">
<table>
<tr><td><p style="color:white;"> <I><B>Name</B></I></p> </td><td><input type="text" name="name"></td></tr>
<tr><td><p style="color:white;"><I><B> Email</B></I></p> </td><td><input type="email" name="email"></td></tr>
<tr><td><p style="color:white;"><I><B> Address</B></I> </p></td><td><input type="text" name="address"></td></tr>
<tr><td><p style="color:white;"><I><B> Number </B></I></p></td><td><input type="text" name="number"></td></tr>
<tr><td><p style="color:white;"><I><B> College Name</B></I></p> </td><td><input type="text" name="college_name"></td></tr>
<tr><td><p style="color:white;"><I><B>city</B></I></p> </td><td><input type="text" name="city"></td></tr>
<tr><td><p style="color:white;"> <I><B>state</B></I> </p></td><td><input type="text" name="state"></td></tr>
<tr><td><input type="submit" name="Submit"></td></tr>
</table>
</form>
</body>
</html>