<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body style = "background : url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) ; background-size: 98%;">
<h1><p style="color:white;"><center><font size = "7"><mark>Welcome To The World of Tech!</mark></font></center></p></h1>
<p style="color:white;"><font size = "5"><br><br><br>Welcome to the Bridege course conducted by krosum labs<br>By enrolling in this course, you are taking the first step to kickstarting your career in tech. In the first week of the course,<br> we'll learn about the fundamentals of Linux,We will also learn about Python "The core subject of the course" in deep.<br>By the end of this module, you will know how to code in python in and out along with database connection & flask.<br>Further details of the course will be sent via mail after enrolling<br>So what are you waiting for!!Let's get started!</font></p>
<p style="color:white;"><font size = "3"><br>Stuff yourself with knowledge by Enrolling Now </p>
<a href="/add"><p style="color:white;"><marquee width="100" scrollamount="1" scrolldelay="4" loop="100">Enroll Now!</marquee></p></a>
<p style="color:white"><font size = "3">You can also see the number of students already enrolled by clicking the below link..Hurry up!!</font></p>
<a href="/view"><p style="color:white;"><marquee width="100" scrollamount="1" scrolldelay="4" loop="100">Candidates Enrolled</marquee></p></a>
<a href="/data"><p style="color:white;"><marquee width="100" scrollamount="1" scrolldelay="4" loop="100">Candidates Enrolled</marquee></p></a>
</body>
</html>
